.preview {
	display: grid;
	grid-template-columns: 1fr;
	text-align: left;
	padding: 24px 0;
	gap: 12px;

	@media screen and (min-width: 1024px) {
		gap: 40px;
		grid-template-columns: 228px 2fr;
	}

	&__img-link {
		position: relative;
		display: block;
		aspect-ratio: 3 / 4 auto;
		@media screen and (min-width: 1024px) {
			max-width: 228px;
		}
	}
	&__img {
		display: block;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	&__info-wrapper {
		// display: block;
		margin: auto 0;
	}

	&__title {
		margin-bottom: 4px;
	}
	&__price {
		margin-bottom: 16px;
	}
	&__rating {
		margin-bottom: 16px;
	}
	&__description {
		color: #3e3e59;
		margin-bottom: 24px;
	}

	&__btn-wrapper {
		display: grid;

		@media screen and (min-width: 1024px) {
			max-width: 298px;
		}
	}
}
