.drop-down {
  position: relative;

  // &__btn {
  // }

  &--items {
    text-align: left;
    position: absolute;
    display: grid;
    grid-template-columns: minmax(196px, max-content);
    // gap: 10px;
    list-style: none;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
    background: white;
    border: 1px solid var(--black-200);
    margin-top: 10px;

    &-content {
      padding: 12px 16px;

      &:hover {
        background: var(--black-100);
      }
    }
  }
}

.link {
  text-decoration: none;
  color: var(--black-900);
}

// .btn-show-disable {
//   svg {
//     transform: rotate(360deg);
//     transition: transform 150ms ease;
//   }
// }

.drob-down--open {
  svg {
    rotate: 180deg;
    // transition: transform 150ms ease;
    transition: 0.2s ease-in-out;
  }
}
.drob-down--close {
  svg {
    rotate: 360deg;
    // transition: transform 150ms ease;
    transition: 0.2s ease-in-out;
  }
}
