.popup-result-filter {
	position: absolute;
	display: none;
	// background: white;
	left: 110%;
	z-index: 5;
	transform: translateY(20%);

	&__content {
		width: max-content;
		align-items: center;
		display: flex;
		gap: 15px;
		border: 1px solid black;
		border-left-width: 0;
		padding: 0 10px;
		height: 40px;

		background: white;
	}

	&__icon {
		background: white;
		top: 6px;
		left: -15px;
		rotate: 45deg;
		width: 28px;
		height: 28px;
		border: 1px solid black;
		position: absolute;
		border-width: 0 0 1px 1px;
		z-index: -1;
	}

	&__item {
		// display: flex;
		width: max-content;
		align-items: center;
		text-align: center;
	}
}
