version: "3.5"
services:
    kafka-controller-1:
        image: apache/kafka:latest
        container_name: kafka-controller-1
        environment:
            KAFKA_CLUSTER_ID: "hnfvgbjmfvcgbhndcgbfvhgbjmkbjmkhn"
            KAFKA_NODE_ID: 1
            KAFKA_PROCESS_ROLES: controller
            KAFKA_LISTENERS: CONTROLLER://:9093
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-controller-1:9093,2@kafka-controller-2:9093
        networks:
            - nayzak
        volumes:
            - ./services/kafka-controllers:/kafka-controller-1/var/lib/kafka/data
        restart: unless-stopped
    kafka-controller-2:
        image: apache/kafka:latest
        container_name: kafka-controller-2
        environment:
            KAFKA_CLUSTER_ID: "hnfvgbjmfvcgbhndcgbfvhgbjmkbjmkhn"
            KAFKA_NODE_ID: 2
            KAFKA_PROCESS_ROLES: controller
            KAFKA_LISTENERS: CONTROLLER://:9093
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-controller-1:9093,2@kafka-controller-2:9093
        networks:
            - nayzak
        volumes:
            - ./services/kafka-controllers:/kafka-controller-2/var/lib/kafka/data
        restart: unless-stopped
    kafka-broker-1:
        image: apache/kafka:latest
        container_name: kafka-broker-1
        ports:
            - 19001:9092
        environment:
            KAFKA_CLUSTER_ID: "hnfvgbjmfvcgbhndcgbfvhgbjmkbjmkhn"
            KAFKA_NODE_ID: 3
            KAFKA_PROCESS_ROLES: broker
            KAFKA_LISTENERS: 'PLAINTEXT://:19900,PLAINTEXT_HOST://:9092'
            KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka-broker-1:19900,PLAINTEXT_HOST://localhost:19001'
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-controller-1:9093,2@kafka-controller-2:9093
            KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
        depends_on:
            - "kafka-controller-1"
            - "kafka-controller-2"
        networks:
            - nayzak
        volumes:
            - ./services/kafka-brokers:/kafka-broker-1/var/lib/kafka/data
        restart: unless-stopped
    kafka-broker-2:
        image: apache/kafka:latest
        container_name: kafka-broker-2
        ports:
            - 19002:9092
        environment:
            KAFKA_CLUSTER_ID: "hnfvgbjmfvcgbhndcgbfvhgbjmkbjmkhn"
            KAFKA_NODE_ID: 4
            KAFKA_PROCESS_ROLES: broker
            KAFKA_LISTENERS: 'PLAINTEXT://:19900,PLAINTEXT_HOST://:9092'
            KAFKA_ADVERTISED_LISTENERS: 'PLAINTEXT://kafka-broker-2:19900,PLAINTEXT_HOST://localhost:19002'
            KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
            KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER
            KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
            KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka-controller-1:9093,2@kafka-controller-2:9093
            KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
            KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
            KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
        
        depends_on:
            - "kafka-controller-1"
            - "kafka-controller-2"
        networks:
            - nayzak
        volumes:
            - ./services/kafka-brokers:/kafka-broker-2/var/lib/kafka/data
        restart: unless-stopped
    kafka-ui:
        container_name: kafka-ui
        image: provectuslabs/kafka-ui:latest
        ports:
            - 8001:8080
        environment:
            DYNAMIC_CONFIG_ENABLED: 'true'
        networks:
            - nayzak
        depends_on:
            - kafka-broker-1
            - kafka-broker-2

        restart: unless-stopped
    postgres:
        container_name: postgres
        image: postgres:16-alpine
        environment:
            POSTGRES_DB: ${POSTGRES_DB}
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            PGDATA: /data/postgres
        healthcheck:
            test: ["CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'"]
            interval: 10s
            timeout: 3s
            retries: 3
        volumes:
            - ./services/postgres:/var/lib/postgresql/data
        ports:
            - "11054:5432"
        networks:
            - nayzak
        restart: unless-stopped
    pg-admin:
        container_name: pg-admin
        image: dpage/pgadmin4
        environment:
            PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
            PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
        ports:
            - "11055:80"
        networks:
            - nayzak
        restart: unless-stopped
        user: "${UID}:${GID}"
        depends_on:
            - "postgres"
    mongo:
        container_name: mongo
        image: mongo:latest
        restart: unless-stopped
        ports:
            - "12020:27017"
        environment:
            MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
            MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
            MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
        networks:
            - nayzak
        volumes:
            - ./services/mongo:/var/lib/mongo/data
    mongo-express:
        container_name: mongo-express
        image: mongo-express
        restart: unless-stopped
        ports:
            - "12022:8081"
        environment:
            ME_CONFIG_MONGODB_ADMINUSERNAME: ${MONGO_USERNAME}
            ME_CONFIG_MONGODB_ADMINPASSWORD: ${MONGO_PASSWORD}
            ME_CONFIG_MONGODB_SERVER: mongo
            ME_CONFIG_BASICAUTH_USERNAME: ${MONGO_EXPRESS_USERNAME}
            ME_CONFIG_BASICAUTH_PASSWORD: ${MONGO_EXPRESS_PASSWORD}
        networks:
            - nayzak
        depends_on:
            - mongo
    redis:
        image: redis:latest
        container_name: redis
        environment:
            REDIS_PASSWORD: ${REDIS_PASSWORD}
            REDIS_DATABASES: ${REDIS_DATABASES}
        ports:
            - "11053:6379"
        volumes:
            - ./services/redis:/var/lib/redis/data
        command: ["redis-server", "--requirepass", "${REDIS_PASSWORD}"]
        networks:
            - nayzak
        restart: unless-stopped
    nginx:
        image: nginx:latest
        container_name: nginx
        ports:
            - "8080:8080"
            - "8081:8081"
            # - "443:443"
        env_file:
            - './.env'
        volumes:
            - ./nginx.conf:/etc/nginx/nginx.conf
            - ./client/out:/usr/share/nginx/html
        healthcheck:
            test: ["CMD-SHELL", "curl -f http://localhost:8080/health || exit 1"] 
            interval: 30s
            timeout: 10s
            retries: 10
            start_period: 90s
        depends_on:
                # condition: service_starting
            review-microservice:
                condition: service_healthy
            order-microservice:
                condition: service_healthy
            user-microservice:
                condition: service_healthy
            catalog-microservice:
                condition: service_healthy   
        restart: unless-stopped
        networks:
            - nayzak
    user-microservice:
        container_name: user-microservice
        image: user-microservice:latest
        build:
            context: ./microservices/user-service
            dockerfile: Dockerfile
        restart: unless-stopped
        # restart: "no"
        environment:
            POSTGRES_DB_NAME: ${POSTGRES_DB_NAME}
            POSTGRES_DB_USER: ${POSTGRES_DB_USER}
            POSTGRES_DB_PASSWORD: ${POSTGRES_DB_PASSWORD}
            POSTGRES_DB_HOST: ${POSTGRES_DB_HOST}
            POSTGRES_DB_PORT: ${POSTGRES_DB_PORT}

            REDIS_DB_DATABASES: ${REDIS_DB_DATABASES} 
            REDIS_DB_PASSWORD: ${REDIS_DB_PASSWORD} 
            REDIS_DB_HOST: ${REDIS_DB_HOST} 
            REDIS_DB_PORT: ${REDIS_DB_PORT} 

            DATABASE_URL: postgresql://${POSTGRES_DB_USER}:${POSTGRES_DB_PASSWORD}@${POSTGRES_DB_HOST}:${POSTGRES_DB_PORT}/${POSTGRES_DB_NAME}?schema=user
            DIRECT_DATABASE_URL: postgresql://${POSTGRES_DB_USER}:${POSTGRES_DB_PASSWORD}@${POSTGRES_DB_HOST}:${POSTGRES_DB_PORT}/${POSTGRES_DB_NAME}?schema=user

            JWT_SECRET_KEY: ${JWT_SECRET_KEY}
            KAFKA_BROKERS: ${KAFKA_BROKERS}
            CORS_URL: ${CORS_URL}
            URL_CLIENT_API: ${URL_CLIENT_API}

            PORT: 11000

        healthcheck:
            test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.1:11000/health || exit 1"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s

        depends_on:
            kafka-broker-1:
                condition: "service_started"
            kafka-broker-2:
                condition: "service_started"
            postgres:
                condition: "service_healthy"
            redis:
                condition: "service_started"
            notification-microservice:
                condition: "service_started"

        ports:
            - "11000:11000"
        networks:
            - nayzak
    review-microservice:
        container_name: review-microservice
        image: review-microservice:latest
        build:
            context: ./microservices/review-service
            dockerfile: Dockerfile
        restart: unless-stopped
        # restart: "no"
        environment:
            REDIS_DB_PASSWORD: ${REDIS_DB_PASSWORD}
            REDIS_DB_HOST: ${REDIS_DB_HOST}
            REDIS_DB_PORT: ${REDIS_DB_PORT}

            MONGO_DB_USER: ${MONGO_DB_USER}
            MONGO_DB_PASSWORD: ${MONGO_DB_PASSWORD}
            MONGO_DB_PORT: ${MONGO_DB_PORT}
            MONGO_DB_HOST: ${MONGO_DB_HOST}
            MONGO_DB_NAME: ${MONGO_DB_NAME}
            MONGO_DB_URL: "mongodb://${MONGO_DB_HOST}:${MONGO_DB_PORT}/${MONGO_DB_NAME}"
            CORS_URL: ${CORS_URL}

            URL_CLIENT_API: ${URL_CLIENT_API}
            JWT_SECRET_KEY: ${JWT_SECRET_KEY}
            KAFKA_BROKERS: ${KAFKA_BROKERS}

            PORT: 12000
        healthcheck:
            test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.1:12000/health || exit 1"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s
        ports:
            - "12000:12000"

        depends_on:
            - kafka-broker-1
            - kafka-broker-2
            - redis
            - mongo
        networks:
            - nayzak  
    order-microservice:
        container_name: order-microservice
        image: order-microservice:latest
        build:
            context: ./microservices/order-service
            dockerfile: Dockerfile
        restart: unless-stopped
        # restart: "no"
        environment:
            POSTGRES_DB_NAME: ${POSTGRES_DB_NAME}
            POSTGRES_DB_USER: ${POSTGRES_DB_USER}
            POSTGRES_DB_PASSWORD: ${POSTGRES_DB_PASSWORD}
            POSTGRES_DB_HOST: ${POSTGRES_DB_HOST}
            POSTGRES_DB_PORT: ${POSTGRES_DB_PORT}
            
            DATABASE_URL: postgresql://${POSTGRES_DB_USER}:${POSTGRES_DB_PASSWORD}@${POSTGRES_DB_HOST}:${POSTGRES_DB_PORT}/${POSTGRES_DB_NAME}?schema=order
            DIRECT_DATABASE_URL: postgresql://${POSTGRES_DB_USER}:${POSTGRES_DB_PASSWORD}@${POSTGRES_DB_HOST}:${POSTGRES_DB_PORT}/${POSTGRES_DB_NAME}?schema=order

            JWT_SECRET_KEY: ${JWT_SECRET_KEY}
            KAFKA_BROKERS: ${KAFKA_BROKERS}
            URL_CLIENT_API: ${URL_CLIENT_API}
            CORS_URL: ${CORS_URL}
            PORT: 13000
        healthcheck:
            test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.1:13000/health || exit 1"] 
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s
        depends_on:
            kafka-broker-1:
                condition: "service_started"
            kafka-broker-2:
                condition: "service_started"
            postgres:
                condition: "service_healthy"
        ports:
            - "13000:13000"

        networks:
            - nayzak
    notification-microservice:
        container_name: notification-microservice
        image: notification-microservice:latest
        build:
            context: ./microservices/notification-service
            dockerfile: Dockerfile
        restart: unless-stopped
        # restart: "no"
        environment:
            KAFKA_BROKERS: ${KAFKA_BROKERS}

            LINK_URL_CLIENT: ${LINK_URL_CLIENT}
            SMTP_GMAIL_HOST: ${SMTP_GMAIL_HOST}
            SMTP_GMAIL_PORT: ${SMTP_GMAIL_PORT}
            SMTP_GMAIL_USER: ${SMTP_GMAIL_USER}
            SMTP_GMAIL_PASSWORD: ${SMTP_GMAIL_PASSWORD}
        depends_on:
            - kafka-broker-1
            - kafka-broker-2
        networks:
            - nayzak
    catalog-microservice:
        container_name: catalog-microservice
        image: catalog-microservice:latest
        build:
            context: ./microservices/catalog-service
            dockerfile: Dockerfile
        restart: unless-stopped
        # restart: "no"
        environment:

            POSTGRES_DB_NAME: ${POSTGRES_DB_NAME}
            POSTGRES_DB_USER: ${POSTGRES_DB_USER}
            POSTGRES_DB_PASSWORD: ${POSTGRES_DB_PASSWORD}
            POSTGRES_DB_HOST: ${POSTGRES_DB_HOST}
            POSTGRES_DB_PORT: ${POSTGRES_DB_PORT}

            REDIS_DB_DATABASES: ${REDIS_DB_DATABASES} 
            REDIS_DB_PASSWORD: ${REDIS_DB_PASSWORD} 
            REDIS_DB_HOST: ${REDIS_DB_HOST} 
            REDIS_DB_PORT: ${REDIS_DB_PORT} 

            DATABASE_URL: postgresql://${POSTGRES_DB_USER}:${POSTGRES_DB_PASSWORD}@${POSTGRES_DB_HOST}:${POSTGRES_DB_PORT}/${POSTGRES_DB_NAME}?schema=catalog
            DIRECT_DATABASE_URL: postgresql://${POSTGRES_DB_USER}:${POSTGRES_DB_PASSWORD}@${POSTGRES_DB_HOST}:${POSTGRES_DB_PORT}/${POSTGRES_DB_NAME}?schema=catalog

            JWT_SECRET_KEY: ${JWT_SECRET_KEY}
            KAFKA_BROKERS: ${KAFKA_BROKERS}
            CORS_URL: ${CORS_URL}
            URL_CLIENT_API: ${URL_CLIENT_API}

            PORT: 14000
        healthcheck:
            test: ["CMD-SHELL", "wget --no-verbose --tries=1 --spider http://127.0.0.1:14000/health || exit 1"] 
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 30s

        depends_on:
            kafka-broker-1:
                condition: "service_started"
            kafka-broker-2:
                condition: "service_started"
            postgres:
                condition: "service_healthy"
            redis :
                condition: "service_started"

        ports:
            - "14000:14000"
        networks:
            - nayzak
    client:
        image: 'client:latest'
        container_name: client
        environment: 
            CACHE_SECRET_KEY : ${CACHE_SECRET_KEY}
            JWT_SECRET_KEY: ${JWT_SECRET_KEY}
        env_file:
            - './.env'
        build: 
            context: ./client
            dockerfile: Dockerfile
            args:
                NEXT_PUBLIC_JWT_SECRET_KEY: ${NEXT_PUBLIC_JWT_SECRET_KEY}
                NEXT_PUBLIC_NGINX_URL: ${NEXT_PUBLIC_NGINX_URL}
        restart: unless-stopped
        # command: ["sh", "-c", "until curl -s http://nginx:8080"]
        # depends_on:
        #     nginx:
        #         condition: service_healthy   
        ports:
            - "3000:3000"
        networks:
            - nayzak

networks:
    nayzak:
        name: nayzak
        driver: bridge



