.checkout {
    &__input {
        display: grid;
        gap: 24px;
    }
    &__form {
        padding: 52px 0;
        display: grid;
        grid-template-columns: 1fr 424px;
        gap: 32px;
    }
}
