.notification {
	position: fixed;
	background: white;
	width: 100%;
	left: 0;
	bottom: 5%;
	transform: translateY(100%);
	overflow: hidden;
	opacity: 0;
	transition: opacity 0.3s linear, transform 0.3s linear;
	z-index: 5;

	&--open {
		transform: translateY(0);
		opacity: 1;
		overflow: visible;
	}
}
