.img-container {
  position: relative;
  width: 100%;
  height: auto;
  // min-width: 228px;
  // min-height: 304px;
  max-width: 100%;
  aspect-ratio: 163 / 217 auto;
  margin-bottom: 12px;
}

.img {
  object-fit: cover;
}

.card {
  position: relative;
  text-decoration: none;
  width: 100%;
  height: 100%;
  // text-align: center;
  &__content {
    display: grid;
    gap: 4px;
    &-price {
      display: flex;
      justify-content: center;
    }
  }
}

.card-list_type {
  display: flex;
  text-align: left;
  gap: 40px;

  .img {
    max-width: 228px;
    margin: 0;
  }

  &--info {
    margin-bottom: 24px;
    &-elemet {
      max-width: 630px;
      text-decoration: none;
      &:not(:last-child, :first-child) {
        margin-bottom: 16px;
      }
      &:first-child {
        display: block;
        margin-bottom: 4px;
      }
    }
  }

  &--price {
    max-width: 300px;
    width: 100%;
  }
}
