.list-type-button {
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
        display: block;
        border: 1px solid var(--black-200);
        width: 46px;
        height: 40px;
        padding: 8px 11px;
        &--action {
            background: var(--black-100);
            color: var(--black-900);

            .list-type-button__icon {
                color: var(--black-900);
            }
        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        color: var(--black-400);
    }
}
