.wrapper {
	display: grid;
	grid-template-columns: (1fr 766px);
	// justify-content: space-between;
	background: var(--red-500);
	&__info {
		position: relative;
		&-content {
			max-width: 478px;
			width: 100%;
			display: grid;
			gap: 24px;
			position: absolute;
			text-align: left;
			left: 10%;
			top: 50%;
			transform: translate(0, -50%);
			a {
				text-decoration: none;
				display: flex;
				align-items: center;
				gap: 4px;
			}
			&-text {
				display: grid;
				gap: 13px;
			}
		}
	}
	&__video {
		background: url('https://placehold.co/400') center;
		background-repeat: no-repeat;
		background-size: cover;
		right: 0;
		display: flex;
		min-height: 494px;
		height: 100%;
	}
}

.icon {
	width: 24px;
	height: 24px;
	color: white;
}
