.product-info {
	.product-info__info-breadcrumbs {
		display: flex;
		justify-content: left;
	}

	max-width: 456px;
	text-align: start;
	&__header {
		display: flex;
		flex-direction: column;
		gap: 16px;
		// margin-bottom: 24px;
	}
	&__action {
		padding: 24px 0;
	}
	&__price {
		display: flex;
		gap: 12px;
		align-items: center;
	}

	&__info {
		display: flex;
		flex-direction: column;
		gap: 12px;
		&-rating {
			display: flex;
			align-items: center;
			gap: 8px;
		}
	}

	&__tabs {
		padding: 52px 0;
	}
}
