:root {
	--blue-900: #05285b;
	--blue-800: #073984;
	--blue-700: #094bac;
	--blue-600: #0b5cd5;
	--blue-500: #0d6efd;
	--blue-400: #3485fd;
	--blue-300: #5a9cfe;
	--blue-200: #81b4fe;
	--blue-100: #a8cbfe;
	--blue-50: #e6f0ff;

	--black-900: #121212;
	--black-800: #2b2b2b;
	--black-700: #454545;
	--black-600: #605f5f;
	--black-500: #807e7e;
	--black-400: #a7a7a7;
	--black-300: #eaeaea;
	--black-200: #f5f5f5;
	--black-100: #fafafb;

	--red-900: #4f1319;
	--red-800: #721c24;
	--red-700: #96242f;
	--red-600: #b92d3a;
	--red-500: #dc3545;
	--red-400: #e25563;
	--red-300: #e77681;
	--red-200: #ed969e;
	--red-100: #f2b6bc;
	--red-50: #ffe0e3;
}
