.popup {
  &--address {
    &-form {
      width: 700px;
    }
  }
}

.address {
  &--form {
    &-inputs {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }
  }
}
