.wrapper {
  position: absolute;
  z-index: 4;
  width: 100%;
  min-height: 206px;
  background: white;

  &__header {
    padding: 18px 0;
    display: flex;
    justify-content: space-between;

    &-btn {
      position: relative;
      width: 32px;
      height: 32px;
      border: none;
      background: none;
      cursor: pointer;

      &::after {
        position: absolute;
        content: "";
        width: 16px;
        height: 1px;
        background: var(--black-900);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }

      &::before {
        position: absolute;
        content: "";
        width: 16px;
        height: 1px;
        background: var(--black-900);
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }

  &__search {
    padding: 24px 0;
  }
}

.form {
  display: flex;
  margin: 0 auto;
  padding: 13px 16px;
  max-width: 450px;
  gap: 8px;
  align-items: center;

  border: 1px solid var(--black-900);
  border-radius: 6px;
  &__input {
    height: 100%;
    flex-grow: 1;
    border: none;
    height: 26px;
  }
  &__btn {
    border: none;
    width: 24px;
    height: 24px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    cursor: pointer;
  }
}

.icon {
  &-logo {
    width: 155px;
    height: 30px;
  }
  &-search {
    width: 17px;
    height: 17px;
  }
}

.grid-search {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
