.product-swiper {
	&__slide {
		&-main {
			@media screen and (min-width: 1024px) {
				margin-bottom: 20px;
			}
		}

		&-list {
			cursor: pointer;
			margin-right: 19px;
			max-height: 170px;
		}
	}

	&__navigation {
		display: none;
		@media screen and (min-width: 1024px) {
			display: block;
		}
	}
}
