@use "../styles/abstracts/mixins" as mixins;
.footer {
	background: var(--black-100);
	padding: 72px 0 24px;

	&__info-wrap {
		display: grid;
		grid-template-columns: 1fr;
		margin-bottom: 32px;
		@media screen and (min-width: 1024px) {
			grid-template-columns: max(310px) max-content;
			justify-content: space-between;
			margin-bottom: 72px;
		}
	}

	&__info {
		text-align: start;
		margin-bottom: 32px;
		// @media screen and (min-width: 1024px) {
		// }
		&-logo {
			width: 155px;
			height: 30px;
			margin-bottom: 16px;
		}
		&-p {
			margin-bottom: 24px;
			color: #3e3e59;
			@include mixins.text-regular-14-style;
			@media screen and (min-width: 1024px) {
				@include mixins.text-regular-16-style;
			}
		}
	}

	// &__nav-wrap {
	// }
	&__nav {
		display: flex;
		position: relative;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		// &:nth-of-type(2) {
		// }
		// &:nth-of-type(3) {
		// }

		// padding-top: 24px;
		// margin-bottom: 27px;

		@media screen and (min-width: 1024px) {
			flex-direction: row;
			justify-content: space-between;
			padding: 24px 0 27px 0;
			&::after {
				position: absolute;
				content: "";
				top: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: var(--black-300);
			}
		}
		&-item {
			&:first-child {
				display: flex;
				gap: 24px;
				margin-bottom: 32px;

				@media screen and (min-width: 1024px) {
					margin-bottom: 0;
				}
			}
			&:nth-child(2) {
				margin-bottom: 12px;
				@media screen and (min-width: 1024px) {
					display: flex;
					margin-bottom: 0;
					gap: 32px;
				}
			}
		}
	}
}
