.header-categories {
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: center;
	align-items: center;
	background: no-repeat url("../../../public/PasteImage.png");
	background-size: cover;
	width: 100%;
	min-height: 400px;
	height: 100%;
	margin: 52px auto;
}
