.checkout {
	&__header {
		padding: 52px 0;
	}
	&__form {
		padding: 52px 0;
		display: grid;
		grid-template-columns: 1fr 424px;
		gap: 32px;
	}
	&__main {
		padding: 52px 0;
		gap: 32px;
		display: grid;
		grid-template-columns: 1fr;
	}

	[id="checkout-form"] {
		@media screen and (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
		}
		@media screen and (min-width: 1024px) {
			grid-template-columns: 1fr 424px;
		}
	}
	[id="checkout-order"] {
		@media screen and (min-width: 768px) {
			grid-column: 2 / 3;
			grid-row: 1 / 2;
		}
	}
	[id="checkout-contact"] {
		@media screen and (min-width: 768px) {
			grid-column: 1 / 2;
			grid-row: 1 / 2;
		}
	}
	[id="checkout-address"] {
		@media screen and (min-width: 768px) {
			grid-column: 1 / 2;
			grid-row: 2 / 3;
		}
	}
	&__main-btn {
		@media screen and (min-width: 768px) {
			grid-column: 1 / 2;
			grid-row: 3 / 4;
		}
	}
}

.checkout-order-dynamic {
	padding: 20px;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: var(--black-200);

	&__spinner {
		width: 50%;
	}
}
