@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

:root {
    --blue-900: #05285b;
    --blue-800: #073984;
    --blue-700: #094bac;
    --blue-600: #0b5cd5;
    --blue-500: #0d6efd;
    --blue-400: #3485fd;
    --blue-300: #5a9cfe;
    --blue-200: #81b4fe;
    --blue-100: #a8cbfe;
    --blue-50: #e6f0ff;

    --black-900: #121212;
    --black-800: #2b2b2b;
    --black-700: #454545;
    --black-600: #605f5f;
    --black-500: #807e7e;
    --black-400: #a7a7a7;
    --black-300: #eaeaea;
    --black-200: #f5f5f5;
    --black-100: #fafafb;

    --red-900: #4f1319;
    --red-800: #721c24;
    --red-700: #96242f;
    --red-600: #b92d3a;
    --red-500: #dc3545;
    --red-400: #e25563;
    --red-300: #e77681;
    --red-200: #ed969e;
    --red-100: #f2b6bc;
    --red-50: #ffe0e3;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Space Grotesk";
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h7 {
    font-weight: 500;
    color: var(--black-900);
}

h1 {
    font-size: 80px;
    line-height: 84px;
    letter-spacing: -3px;
}

h2 {
    font-size: 72px;
    line-height: 76px;
    letter-spacing: -2px;
}

h3 {
    font-size: 54px;
    line-height: 58px;
    letter-spacing: -1px;
}

h4 {
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.4px;
}

h5 {
    font-size: 34px;
    line-height: 38px;
    letter-spacing: -0.6px;
}

h6 {
    font-size: 28px;
    line-height: 34px;
    letter-spacing: -0.6px;
}

.h7 {
    font-size: 20px;
    line-height: 28px;
}

.text-regular-26,
.text-regular-22,
.text-regular-20,
.text-regular-18,
.text-regular-16,
.text-regular-14,
.text-regular-12 {
    font-family: "Inter";
    font-weight: 400;
}

.text-regular-26 {
    font-size: 26px;
    line-height: 40px;
}

.text-regular-22 {
    font-size: 22px;
    line-height: 34px;
}

.text-regular-20 {
    font-size: 20px;
    line-height: 32px;
}

.text-regular-18 {
    font-size: 18px;
    line-height: 30px;
}

.text-regular-16 {
    font-size: 16px;
    line-height: 26px;
}

.text-regular-14 {
    font-size: 14px;
    line-height: 22px;
}

.text-regular-12 {
    font-size: 12px;
    line-height: 20px;
}

.text-semibold-26,
.text-semibold-22,
.text-semibold-20,
.text-semibold-18,
.text-semibold-16,
.text-semibold-14,
.text-semibold-12 {
    font-family: "Inter";
    font-weight: 600;
}

.text-semibold-26 {
    font-size: 26px;
    line-height: 40px;
}

.text-semibold-22 {
    font-size: 22px;
    line-height: 34px;
}

.text-semibold-20 {
    font-size: 20px;
    line-height: 32px;
}

.text-semibold-18 {
    font-size: 18px;
    line-height: 30px;
}

.text-semibold-16 {
    font-size: 16px;
    line-height: 26px;
}

.text-semibold-14 {
    font-size: 14px;
    line-height: 22px;
}

.text-semibold-12 {
    font-size: 12px;
    line-height: 20px;
}

.text-bold-26,
.text-bold-22,
.text-bold-20,
.text-bold-18,
.text-bold-16,
.text-bold-14,
.text-bold-12 {
    font-family: "Inter";
    font-weight: 700;
}

.text-bold-26 {
    font-size: 26px;
    line-height: 40px;
}

.text-bold-22 {
    font-size: 22px;
    line-height: 34px;
}

.text-bold-20 {
    font-size: 20px;
    line-height: 32px;
}

.text-bold-18 {
    font-size: 18px;
    line-height: 30px;
}

.text-bold-16 {
    font-size: 16px;
    line-height: 26px;
}

.text-bold-14 {
    font-size: 14px;
    line-height: 22px;
}

.text-bold-12 {
    font-size: 12px;
    line-height: 20px;
}

.button-large,
.button-medium,
.button-small,
.button-xlarge,
.button-xsmall {
    font-weight: 500;
    font-family: "Space Grotesk";
}

.button-xlarge {
    font-size: 26px;
    line-height: 38px;
}

.button-large {
    font-size: 22px;
    line-height: 34px;
}

.button-medium {
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.4px;
}

.button-small {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.4px;
}

.button-xsmall {
    font-size: 14px;
    line-height: 20px;
}

.sidebar-filter--hidden {
    display: none;
}

.container {
    max-width: 1336px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

button {
    padding: 0;
    margin: 0;
}

img {
    width: 100%;
}

.section {
    margin: 52px 0;
}
//@tailwind base;
//@tailwind components;
//@tailwind utilities;
//
//:root {
//  --foreground-rgb: 0, 0, 0;
//  --background-start-rgb: 214, 219, 220;
//  --background-end-rgb: 255, 255, 255;
//}
//
//@media (prefers-color-scheme: dark) {
//  :root {
//    --foreground-rgb: 255, 255, 255;
//    --background-start-rgb: 0, 0, 0;
//    --background-end-rgb: 0, 0, 0;
//  }
//}
//
//body {
//  //color: rgb(var(--foreground-rgb));
//  background: linear-gradient(
//                  to bottom,
//                  transparent,
//                  rgb(var(--background-end-rgb))
//  ) rgb(var(--background-start-rgb));
//}
//
//@layer utilities {
//  .text-balance {
//    text-wrap: balance;
//  }
//}
