.product-slider {
    max-width: 570px;

    &__img-main,
    &__img-group {
        aspect-ratio: 3/4 auto !important;
    }

    &__img-main {
        position: relative;
        max-width: 570px !important;
        max-height: 760px !important;
        margin-bottom: 20px !important;
    }

    &__img-group {
        margin-right: 19px !important;
        max-width: 128px;
        max-height: 170px;
    }
    &__img {
        object-fit: cover !important;
    }
}
