.product {
    display: flex;
    justify-content: space-between;
    padding: 52px 0;

    &__loop {
        max-width: 456px;
        text-align: start;
        &-header {
            display: flex;
            flex-direction: column;
            gap: 16px;
            // margin-bottom: 24px;
        }
        &-action {
            padding: 24px 0;
        }
        &-price {
            display: flex;
            gap: 12px;
            align-items: center;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 12px;
        &-rating {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }

    &__tabs {
        padding: 52px 0;
    }
}

// .actions {
// 	display: grid;
// 	&--quantity {
// 		display: flex;
// 		align-items: center;
// 		justify-content: space-between;
// 		// display: grid;
// 		// grid-template-columns: 20px 1fr 20px;
// 		text-align: center;
// 		// justify-content: space-between;
// 		padding: 12px 16px;
// 		margin-bottom: 16px;
// 		background: var(--black-100);
// 	}
// 	&--big-btn {
// 		margin-bottom: 34px;
// 	}

// 	&--btns {
// 		display: flex;
// 		gap: 32px;
// 	}

// 	&--btn-active {
// 		svg {
// 			color: red;
// 		}
// 	}
// }

.loading {
    position: relative;
    aspect-ratio: 2/1 auto;
    width: 100%;
    border-radius: 1em;
    background: var(--black-200);

    &__spinner {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border: 16px solid white;
        border-radius: 50%;
        border-top: 16px solid var(--black-700);
        width: 120px;
        height: 120px;
        animation: spin 2s backwards infinite;

        @keyframes spin {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    }
}
