.header {
  display: grid;
  gap: 12px;
  align-items: center;
  background: no-repeat
    url("https://s3-alpha-sig.figma.com/img/0abd/095c/294acd8a59edb9d0a61acf0b2a05d53e?Expires=1717977600&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=MBw0NoWRETED-7HzrYdgZW8O~Bu4BwwERGS54IM-RLHNO~wY8AwdQsrvov0J~lJOgOaNqcGvUxT7Y3kt8rR6-2t-ZNJ-4l9AOJN~8j-dSQTNpi5dEm3u~GJC4w-dTyeoRHYO5WfpOOHab1yCOvhCU3GbCgE8LseJGj6bXlIYd-sYliEMoDCUKn-pvI2LtRWpR2X9vC2u6S0P1HEg6XDr74uoM94BgaNsZ-Rwfpn2JsvGlFnjzsUyVwQ3l1GAZ2Iy6niucciRJF1voBMykxImatKLnLj2EXll4YKnBot3rQBLDMsI7MzaMuN1QQsmpFIJqYjr9dWeyBiyQFiBj3eNTg__");
  background-size: cover;
  width: 100%;
  min-height: 400px;
  height: 100%;

  &__block {
    display: grid;
    gap: 12px;
    margin: auto;
    max-width: 600px;
  }
}
