.header {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: center;
	align-items: center;

	width: 100%;
	min-height: 400px;
	max-height: 400px;
	margin-bottom: 52px;
	// z-index: ;
	&__img {
		position: absolute;
	}
	&__title {
		z-index: 1;
	}
}
