@use "../../../styles/abstracts/mixins" as mixins;

.header {
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 8px;
	justify-content: center;
	align-items: center;
	margin-bottom: 52px;
	min-height: 250px;

	@media screen and (min-width: 1024px) {
		min-height: 400px;
	}

	// z-index: ;
	&__img {
		position: absolute;
	}
	&__title {
		z-index: 1;

		@include mixins.heading-5-style;
		@media screen and (min-width: 1024px) {
			@include mixins.heading-3-style;
		}
	}
}
