.colums {
    text-align: left;
    display: flex;
    gap: 120px;

    &--title {
        margin-bottom: 16px;
    }

    &--list {
        display: grid;
        gap: 12px;
        &-link {
            color: #3e3e59;
        }
    }
}

.columns {
    text-align: left;
    display: flex;
    gap: 120px;
    &__title {
        margin-bottom: 16px;
    }

    &__list {
        display: grid;
        gap: 12px;
    }

    &__link {
        color: #3e3e59;
    }
}
