.drop-down {
  position: relative;

  &--list {
    text-align: left;
    position: absolute;
    display: grid;
    grid-template-columns: minmax(196px, max-content);
    list-style: none;
    z-index: 2;
    left: 50%;
    transform: translate(-50%);
    background: white;
    border: 1px solid var(--black-200);
    margin-top: 10px;
  }

  &--open {
    svg {
      rotate: 180deg;
      transition: 0.2s ease-in-out;
    }
  }
  &--close {
    svg {
      rotate: 360deg;
      transition: 0.2s ease-in-out;
    }
  }

  &--item {
    a,
    button,
    div {
      display: block;
      padding: 12px 16px;
    }

    &:hover {
      background: var(--black-100);
    }
  }
}
