.avatar {
	display: flex;
	justify-content: space-between;
	align-items: center;

	.avatar__content {
		position: relative;
		width: 68px;
		height: 68px;
		@media screen and (min-width: 1024px) {
			width: 82px;
			height: 82px;
		}

		img {
			border-radius: 100%;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.avatar__content-btn {
			position: absolute;
			opacity: 80%;
			max-width: 30px;
			max-height: 30px;
			width: 100%;
			height: 100%;
			right: 0;
			bottom: 0;
			padding: 0;

			svg {
				width: 16px;
				height: 16px;
			}
		}
	}

	.avatar__btn {
		display: block;
		@media screen and (min-width: 1024px) {
			display: none;
		}
	}
}
