.reviews {
	&__header {
		margin-bottom: 32px;
		&-title {
			margin-bottom: 20px;
		}
	}

	&__rating-wrapper {
		display: flex;
		justify-content: space-between;
	}
	&__rating {
		display: flex;
		align-items: center;
		gap: 8px;

		&-rating {
			svg {
				width: 20px;
				height: 20px;
			}
		}
		&-label {
			color: var(--black-600);
		}
		&-btn {
			border: 2px solid var(--black-900);
		}
	}
}
