.subcategory-preview {
	position: relative;
	// background: url("https://placehold.co/400") no-repeat center;
	// background-size: cover;
	height: 384px;
	width: 100%;

	&__image {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		display: block;
		z-index: 1;
	}
	&__btn {
		// text-decoration: none;
		left: 50%;
		bottom: 40px;
		min-width: 204px;
		transform: translate(-50%, 0);
		position: absolute;
		z-index: 2;
		// background: white;
	}
}
