.subcategory-preview {
	// position: relative;
	// height: 300px;

	position: relative;
	aspect-ratio: var(--image-ratio);

	@media screen and (min-width: 1024px) {
		aspect-ratio: 1.6979166667;
	}

	// aspect-ratio: 0.9 auto;
	// width: 100%;

	// @media screen and (min-width: 1024px) {
	// 	height: 384px;
	// }
	&__image {
		// position: absolute;
		// width: 100%;
		// height: 100%;
		// object-fit: cover;
		// display: block;
		// z-index: 1;
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
	&__btn {
		// text-decoration: none;
		left: 50%;
		bottom: 40px;
		min-width: 204px;
		transform: translate(-50%, 0);
		position: absolute;
		z-index: 2;
		// background: white;
	}
}
