.change-password {
	text-align: start;

    .change-password__form {
	display: block;

    }

	&__header {
		margin-bottom: 32px;
	}

	&__input {
		color: #3e3e59;
	}
	&__input {
		color: #3e3e59;
	}

	&__input:not(:last-of-type) {
		margin-bottom: 16px;
	}
	&__input:last-of-type {
		margin-bottom: 28px;
	}

	&__button {
		width: 100%;
	}
}
