.wishlist {
	display: grid;
	gap: 10px;

	&__spinner-wrap {
		display: grid;
		grid-template-columns: max(110px);
		justify-content: center;
		grid-column: 1 / -1;
	}
	&__spinner {
		border-color: var(--black-500);
		border-top-color: white;
	}

	&__message {
		text-align: center;
		padding: 20px 10px;
		margin-bottom: 20px;
		border: 1px solid var(--black-400);
		border-radius: 1em;
	}

	.wishlist__spinner--wrap {
		display: grid;
		grid-template-columns: max(110px);
		justify-content: center;
		grid-column: 1 / -1;
	}
	.wishlist__spinner {
		border-color: var(--black-500);
		border-top-color: white;
	}
}
