.banner {
	display: flex;
	background-color: var(--red-500);

	&__img-wrapper {
		position: relative;
		max-width: 736px;
		max-height: 700px;
		width: 100%;
		height: 100%;
		aspect-ratio: 1.01/1 auto;
	}
	&__img {
		object-fit: cover;
	}
	&__content {
		margin: auto 82px;
		max-width: 456px;
		&-text {
			&:not(:last-child) {
				margin-bottom: 8px;
			}
			&:nth-last-child(2) {
				margin-bottom: 28px;
			}
			color: white;
		}
	}
}

.loading__item {
	width: 736px;
	height: 700px;
}

.loading__list {
	margin: auto 82px;

	.loading__item {
		border-radius: 5px;

		&:not(:last-child) {
			margin-bottom: 8px;
		}

		&:first-child {
			width: 200px;
			height: 30px;
		}

		&:nth-child(2) {
			width: 450px;
			height: 150px;
		}
		&:nth-child(3) {
			width: 450px;
			height: 60px;
			margin-bottom: 28px;
		}

		&:last-child {
			width: 178px;
			height: 46px;
		}
	}
}
