.swiper-custom {
    display: flex;
    flex-direction: column-reverse;

    &__bullet {
        position: relative;
        width: 16px;
        height: 16px;
        background: none;
        border-radius: 100%;
        &::after {
            position: absolute;
            content: "";
            background: var(--black-900);
            border-radius: 100%;
            width: 6px;
            height: 6px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &--action {
            position: relative;
            width: 16px;
            height: 16px;
            border: 1px solid var(--black-900);
            background: none;
            border-radius: 100%;

            &::after {
                position: absolute;
                content: "";
                background: var(--black-900);
                border-radius: 100%;
                width: 6px;
                height: 6px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 32px;
    }
    &__controls {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__button {
        background: none;
        border: none;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        svg {
            width: 24px;
            height: 24px;
        }
    }
    &__pagination {
        margin: 0 12px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    &__slider {
        margin-right: 32px !important;
        max-width: 310px;
        max-height: 479px;
    }
}
