.wrapper {
  max-width: 310px;
  width: 100%;
  padding: 24px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
  }
  &__item {
    display: grid;
    gap: 40px;
    text-align: left;

    &-section {
      display: grid;
      gap: 16px;

      ul {
        display: grid;
        gap: 12px;
      }
    }
  }
}

.btn-close {
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 1px;
    background: var(--black-900);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 1px;
    background: var(--black-900);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}
