.product-grid {
    &__product {
        text-align: center;
    }

    &__header {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 52px;
        gap: 12px;
    }
}

.loading {
    display: block;
    position: relative;
    width: 100%;
    height: 90px;
    background-color: var(--black-300);
    &__spinner {
        position: absolute;
        display: block;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        border: 12px solid white;
        border-radius: 50%;
        border-top: 12px solid var(--black-700);
        width: 80px;
        height: 80px;
        animation: spin 2s backwards infinite;

        @keyframes spin {
            0% {
                transform: translate(-50%, -50%) rotate(0deg);
            }
            100% {
                transform: translate(-50%, -50%) rotate(360deg);
            }
        }
    }
}
