@use "../../../../../../styles/abstracts/mixins" as mixins;
.review-header {
	width: 100%;
	margin-bottom: 32px;
	text-align: start;

	@media screen and (min-width: 1024px) {
		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(2, max-content);
		row-gap: 20px;
	}

	&__title {
		@include mixins.button-xlarge-style;
		margin-bottom: 20px;
		@media screen and (min-width: 1024px) {
			@include mixins.heading-5-style;

			grid-column: 1 / 3;
		}
	}

	&__rating {
		display: flex;
		gap: 8px;
		align-items: center;
		margin-bottom: 24px;
		@media screen and (min-width: 1024px) {
			margin-bottom: 0;
		}
		&-label {
			color: var(--black-600);
		}
	}
}
