@use "../../../styles/abstracts/mixins" as mixins;
.wishlist-preview {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	gap: 108px;
	padding-bottom: 24px;

	&::before {
		position: absolute;
		content: "";
		width: 100%;
		height: 1px;
		background: var(--black-300);
		left: 0;
		bottom: 0;
	}

	&__info-wrap {
		display: flex;
		align-items: center;
		gap: 24px;
	}

	&__image-wrap {
		position: relative;
		aspect-ratio: 3/4 auto;
		max-width: 128px;
		width: 100%;
	}

	&__image {
		object-fit: cover;
	}

	&__info {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(4, max-content);
		gap: 8px;
		min-width: min-content;

		&-item {
			&:not(:first-child) {
				color: var(--black-600);
			}
			&:not(:last-child) {
				margin-bottom: 10px;
			}

			&:nth-child(1) {
				@include mixins.text-semibold-16-style;
				@media screen and (min-width: 1024px) {
					@include mixins.text-semibold-18-style;
				}
				grid-row: 1 / 2;
			}
			&:nth-child(2) {
				@include mixins.text-regular-12-style;
				@media screen and (min-width: 1024px) {
					@include mixins.text-regular-14-style;
				}
				grid-row: 2 / 3;
			}
			&:nth-child(3) {
				grid-row: 4 / 5;
			}
			&:nth-child(4) {
				@include mixins.text-regular-16-style;
				@media screen and (min-width: 1024px) {
					@include mixins.text-regular-18-style;
				}
				grid-row: 3 / 4;
			}

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3),
			&:nth-child(4) {
				margin: 0;
			}
		}
	}

	&__price {
		color: var(--black-900);
	}
}

// &--product {
//

// }

// &--info {
//     &-text {
//     }

//     &-btn {
//     }
// }
