.navbar {
	display: flex;
	gap: 40px;
	position: relative;

	&__content {
		position: relative;
	}

	&__trigger {
		// display: block;

		&--active {
			color: red !important;
		}

		svg {
			transform: rotate(0deg);
			transition: transform 0.1s ease-out;
		}

		&--visible {
			svg {
				transform: rotate(180deg);
			}
		}
	}

	&__body {
		display: none;

		position: absolute;
		flex-direction: column;
		list-style: none;
		z-index: 2;
		left: 50%;
		transform: translate(-50%);
		background: none;
		border: none;
		padding-top: 10px;

		&--visible {
			display: block;
		}
	}
	&__item {
		justify-content: space-between !important;
		// text-align: start !important;
		padding: 12px 16px !important;
		display: inline-flex !important;
		background-color: white !important;
		max-width: 228px !important;
		width: 100vw !important;
		&:hover {
			background: var(--black-100) !important;
		}
	}
}
