.preview {
	position: relative;
	text-decoration: none;
	// width: 100%;
	// height: 100%;
	// text-align: center;

	&__img-wrapper {
		aspect-ratio: 3 / 4 auto;
	}
	&__img {
		display: block;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	&__info-wrapper {
		margin-top: 12px;
		display: grid;
		gap: 4px;
		// &-price {
		// 	display: flex;
		// 	justify-content: center;
		// }
	}
}
