.filter-buttons {
	.filter-buttons__list {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;

		.filter-buttons__list-item {
			padding: 2px 10px;
			gap: 4px;
			background-color: var(--black-200);
			border-radius: 4px;
			border: 1px solid var(--black-300);
		}
	}

	.filter-buttons__button-clear {
		color: var(--black-500);
	}
}

.loading {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	&__item {
		width: 80px;
		height: 24px;
		border-radius: 4px;
	}
}
