.fill {
	&--solid {
		&.color {
			&__default {
				&-dark {
					&.state--disable {
						pointer-events: none;
						background: var(--black-800);
						color: var(--black-700);
					}
					color: white;
					background: none;
					background: var(--black-900);
				}
				&-light {
					&.state--disable {
						pointer-events: none;
						background: var(--black-100);
						color: var(--black-300);
					}
					color: var(--black-900);
					background: none;
					background: white;
				}
			}

			&__underline {
				&-dark {
					&.state--disable {
						pointer-events: none;
						background: var(--black-800);
						color: var(--black-700);
					}
					position: relative;
					background: none;
					color: var(--black-900);
				}
				&-light {
					&.state--disable {
						pointer-events: none;
						background: var(--black-800);
						color: var(--black-700);
					}
					position: relative;
					background: none;
					color: white;
				}
			}
		}
	}
	&--outline {
		&.color {
			&__default {
				&-light {
					&.state--disable {
						pointer-events: none;

						color: var(--black-300);
						border-color: var(--black-200);
					}
					background: none;
					color: white;
					border: 2px solid white;
				}
				&-dark {
					&.state--disable {
						pointer-events: none;

						color: var(--black-700);
						border-color: var(--black-500);
					}
					color: var(--black-900);
					background: none;
					border: 2px solid var(--black-900);
				}
			}

			// &__underline {
			// 	&-dark {
			// 		position: relative;
			// 		background: none;
			// 		color: var(--black-900);
			// 	}
			// 	&-light {
			// 		position: relative;
			// 		background: none;
			// 		color: white;
			// 	}
			// }
		}
	}
}

.color {
	&__text,
	&-underline {
		&-dark {
			&.state {
				&--disable {
					pointer-events: none;
					color: var(--black-300);
				}

				&--hover {
					&:hover {
						color: var(--black-600);
					}
				}
			}
			position: relative;
			background: none;
			color: var(--black-900);
		}
		&-light {
			&.state {
				&-disable {
					color: var(--black-400);
				}
				&--hover {
					&:hover {
						color: var(--black-700);
					}
				}
			}
			position: relative;
			background: none;
			color: white;
		}
	}
}
.size {
	&--xl {
		svg {
			width: 32px;
			height: 32px;
		}
	}
	&--l {
		svg {
			width: 28px;
			height: 28px;
		}
	}
	&--m {
		svg {
			width: 24px;
			height: 24px;
		}
	}

	&--s {
		svg {
			width: 20px;
			height: 20px;
		}
	}

	&--xs {
		svg {
			width: 18px;
			height: 18px;
		}
	}
}

.roundness {
	&--pill {
		border-radius: 100px;
	}
	&--rounded {
		border-radius: 8px;
	}
}

.type {
	&--default {
		display: inline-flex;
		gap: 8px;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		border: none;
		cursor: pointer;

		&.size {
			&--xl {
				padding: 19px 55px;

				&.state--hover {
					&.state--hover {
						&:hover {
							padding: 18px 55px 26px;
						}
					}
				}
			}
			&--l {
				padding: 19px 44px;
				&.state--hover {
					&.state--hover {
						&:hover {
							padding: 15px 44px 23px;
						}
					}
				}
			}
			&--m {
				padding: 10px 26px;
				&.state--hover {
					&.state--hover {
						&:hover {
							padding: 8px 26px 12px;
						}
					}
				}
			}
			&--s {
				padding: 9px 24px;
				&.state--hover {
					&.state--hover {
						&:hover {
							padding: 7px 24px 11px;
						}
					}
				}
			}
			&--xs {
				padding: 8px 20px;
				&.state--hover {
					&.state--hover {
						&:hover {
							padding: 6px 20px 10px;
						}
					}
				}
			}
		}
	}
	&--square {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		border: none;
		cursor: pointer;

		&.size {
			&--xl {
				padding: 14px;
				&.state--hover {
					&:hover {
						padding: 10px 14px 18px;
					}
				}
			}
			&--l {
				padding: 12px;
				&.state--hover {
					&:hover {
						padding: 9px 12px 16px;
					}
				}
			}
			&--m {
				padding: 10px;
				&.state--hover {
					&:hover {
						padding: 8px 10px 12px;
					}
				}
			}
			&--s {
				padding: 9px;
				&.state--hover {
					&:hover {
						padding: 7px 9px 11px;
					}
				}
			}
			&--xs {
				padding: 11px;
				&.state--hover {
					&:hover {
						padding: 8px 10px 12px;
					}
				}
			}
		}
	}
	&--underline {
		display: flex;
		gap: 8px;
		align-items: center;
		text-decoration: none;
		border: none;
		cursor: pointer;
		border-bottom: 1px solid;
	}
	&--text {
		width: max-content;
		display: inline-flex;
		gap: 8px;
		align-items: center;
		position: relative;
		text-decoration: none;
		border: none;
		cursor: pointer;
	}
}
